<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJs">
          <match url="(.*)" />
          <action type="Rewrite" url="main.js/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
